# Python
venv/
__pycache__/
*.pyc
.env

# AI service
ai-service/.env
ai-service/__pycache__/
ai-service/uploads/

# VS Code
.vscode/

# OS files
Thumbs.db
.DS_Store
# Node.js
node_modules/
backend/node_modules/
frontend/node_modules/

# Backend uploads
backend/uploads/

# Backend environment
backend/.env